<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl navbar-dark  navbar-togglable  fixed-top">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
      <h2 style="color: white;">Young</h2>
      <%=%>
      <!--<svg class="navbar-brand-svg" viewBox="0 0 245 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
      <!--  <path d="M0 0 L 20 10 L 0 20 Z" class="navbar-brand-svg-i" fill="currentColor"></path>-->
      <!--  <path d="M0 30 L 20 40 L 0 50 Z M20 45 L 0 55 L 20 65 Z M0 60 L 20 70 L 0 80 Z" fill="currentColor"></path>-->
      <!--  <text x="40" y="70" font-family="Arial, sans-serif" font-size="60" font-weight="bold" letter-spacing="-.025em" fill="currentColor">incline.</text>-->
      <!--</svg>-->
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Social -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item-divider">
          <span class="nav-link">
            <span></span>
          </span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fab fa-github"></i> 
            <span class="d-xl-none ml-2">
              Github
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fab fa-twitter"></i> 
            <span class="d-xl-none ml-2">
              Twitter
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fab fa-instagram"></i> 
            <span class="d-xl-none ml-2">
              Instagram
            </span>
          </a>
        </li>
      </ul>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Home
          </a>
          <!--<div class="dropdown-menu" aria-labelledby="navbarWelcome">-->
          <!--  <a class="dropdown-item  active " href="#">-->
          <!--    Header: Image-->
          <!--  </a>-->
          <!--  <a class="dropdown-item " href="#">-->
          <!--    Header: Carousel-->
          <!--  </a>-->
          <!--  <a class="dropdown-item " href="#">-->
          <!--    Header: Parallax-->
          <!--  </a>-->
          <!--  <a class="dropdown-item " href="#">-->
          <!--    Header: Video-->
          <!--  </a>-->
          <!--</div>-->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLandings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarLandings">
            <% @catSections.each do |category| %>
              <%= link_to category.name, category_path(category.id), class: "dropdown-item" %>
              <!--<a class="dropdown-item " href="#">-->
              <!--  App-->
              <!--</a>-->
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TV
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarComponents" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Awards
          </a>
        </li>
        <li class="nav-item ">
          <a href="documentation.html" class="nav-link">
            Music
          </a>
        </li>
        <li class="nav-item-divider">
          <span class="nav-link">
            <span></span>
          </span>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank" class="nav-link">
            Others
          </a>
        </li>
      </ul>

    </div> <!-- / .navbar-collapse -->

  </div> <!-- / .container -->    
</nav>













<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <%#= link_to "Jerry's Site", root_path, class: "navbar-brand" %>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarText">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <%# @catSections.each do |category| %>-->
<!--        <li class="nav-item active">-->
<!--          <%#= link_to category.name, category_path(category.id), class: "nav-link" %>-->
<!--        </li>-->
        
<!--        <li class="nav-item active">-->
<!--          <%#= link_to 'Gallery', gallery_path, class: "nav-link" %>-->
<!--        </li>-->
<!--      <%# end %>-->
<!--    </ul>-->
<!--    <span class="navbar-text">-->
<!--      <%# if user_signed_in? %>-->
<!--        Logged in as <strong><%= current_user.email %></strong>-->
<!--        <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |-->
<!--        <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>-->
<!--      <%# else %>-->
<!--        <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |-->
<!--        <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>-->
<!--      <%# end %>-->
<!--     </span>-->
<!--  </div>-->
<!--</nav>-->